* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}
.row:nth-child(3) {
  margin-top: 80px;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.logo {
  float: left;
  font-family: lobster;
  color: tomato;
  /*   background-image: url("http://images.all-free-download.com/images/graphiclarge/space_earth_desktop_265262.jpg");
  opacity:0.4; */
}

.logo:hover {
  transform: rotate(5deg);
}

.header {
  background: black;
  position: fixed;
  top: 0;
}


/* .header:nth-child(n) {
  display: inline;
} */

.nav {
  float: right;
}

.nav ul li {
  display: inline;
  padding: 10px;
  margin: auto;
}

.nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: lobster;
}

.nav ul li a:hover {
  background: grey;
  transform: translate(10px) rotate(5deg);
}

.empty {
  height: 800px;
}
